@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --body-color: #ffffff;
    --primary-color: #29274C;
    --primary-color-light: #D5CFE1;
    --toggle-color: #FFF;
    --text-color: #070002;
    --container-color: #fff;

    --sidebar-color: #29274C;
    --sidebar-text-color: #FFFFFF;
    --sidebar-search-color: #29274C;

    --transition-1: all 0.2s ease;
    --transition-2: all 0.3s ease;
    --transition-3: all 0.4s ease;
    --transition-4: all 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%; 
    background: var(--body-color);
}

.req_field {
    color: red;
}

.err_field {
    border: 1px solid red;
}

.err_message {
    font-size: small;
    color: red;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.tbl_rnum {
    width: 100px;
    text-align: center;
}

.tbl_headers {
    background: var(--primary-color);
    color: var(--container-color);
    height: 50px;
    font-size: 18px;
}

tr {
    border-bottom: 1px solid var(--primary-color-light);
}

td {
    padding: 10px;
}

.btn_delete {
    background: var(--primary-color-light) !important;
}

.btn_delete:hover {
    background: red !important;
}

.bud_btns {
    width: 200px;
}

.bud_date_modified {
    font-size: 12px;
    margin-bottom: 5px;
}

.profile{
    display: flex;
    flex-direction: row ;
}