form {
    height: inherit;
    width: inherit;
    display: flex;
    flex: row; 

    justify-content: center;
    align-items: center;
}

.inputFields {
    margin-left: 30px;
}

.inpFields {
    width: 100%;
    margin: 10px 0;
}

input {
    height: 40px;
    width: 350px;
    text-indent: 10px;
}

input[type = 'submit'] {
    width: 100px;
}

h2 {
    font-weight: 500;
}